/* Color varaibles */
$white: white;
$black: black;

$sunshade: #ffa726;
$pizazz: #fb8c00;
$fern:#66bb6a;
$apple:#43a047;
$burntSienna:#ef5350;
$cinnabar:#e53935;
$scooter:#26c6da;
$pacificBlue:#00acc1;
$amethyst :#ab47bc;
$seance :#8e24aa;


/* Media Break points */
$small: "only screen and (max-width: 320px)";
$medium: "only screen and (max-width: 640px)";
$tablet: "only screen and (max-width: 768px)";
$large: "only screen and (max-width: 1024px)";
$xlarge: "only screen and (max-width: 1200px)";
$xxlarge: "only screen and (max-width: 1440px)";
/* Usage */
$matHeader: "only screen and (max-width: 960px)";
// @media #{$tablet} {
//     width: 100%;
// }